<!-- Header -->
<div class="row" id="first-row" *ngIf="!isHome" [ngClass]="{'change': sidenavOpened() }"  >

    <div class="col-md-4 col-sm-4 hidden-xs" *ngIf="!isLogin">
        <h3 id="imforms" routerLink="home" routerLinkActive="active">IMForms</h3>
    </div>

    <div class="col-md-4 col-sm-4 hidden-xs" *ngIf="isLogin">
        <h3 id="imforms-login">IMForms</h3>
    </div>

    <div class="col-md-6 col-sm-6 hidden-xs" ></div>
    <div class="col-md-2 col-sm-2 hidden-xs" *ngIf="!isLogin">
        <div class="profile">
            <div id="right-text">
                <label>Name</label>
            </div>
            <div id="profile-pic">
                <div class="dropdown">
                    <img src="../assets/user.png" alt="View">
                    <div class="dropdown-content">
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-change btn-sm" routerLink="create-form" routerLinkActive="active" *ngIf="isForms">New Form</button>
                            <button type="button" class="btn btn-change btn-sm" routerLink="my-forms" routerLinkActive="active" *ngIf="isCreate">My Forms</button>
                            <button type="button" class="btn btn-change btn-sm" routerLink="login-register" routerLinkActive="active">Logout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile version -->
    <div class="visible-xs">
    <div class='hamburger-title'>
     <div  *ngIf="isForms || isCreate" (click)="toggleSidenav()" class="hamburger" > <span class="glyphicon glyphicon-menu-hamburger"></span> </div>
        <h3 id="imforms-mobile" routerLink="home" routerLinkActive="active">IMForms</h3>
        <div class="profile" *ngIf="!isLogin">
            <div id="right-text-mobile">
                <label>Name</label>
            </div>
            <div id="profile-pic">
                <div class="dropdown">
                    <img id = "img-mobile" src="../assets/user.png" alt="View">
                    <div class="dropdown-content">
                        <div class="btn-group-vertical" id="dropdown-mobile">
                            <button type="button" class="btn btn-change btn-sm" routerLink="create-form" routerLinkActive="active" *ngIf="isForms">New Form</button>
                            <button type="button" class="btn btn-change btn-sm" routerLink="my-forms" routerLinkActive="active" *ngIf="isCreate">My Forms</button>
                            <button type="button" class="btn btn-change btn-sm" routerLink="login-register" routerLinkActive="active">Logout</button>
                            
                          </div>            
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
